:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --Black: #000;

  --ff-Inter: "Inter", sans-serif;
  --pm-font: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media all {
  body {
    padding: 30px 15px;
    font-family: var(--ff-Inter);
  }

  .container {
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header,
  main,
  aside,
  article,
  section,
  footer,
  nav,
  img {
    display: block;
  }
  a {
    text-decoration: none;
    color: var(--Black);
  }

  .hero-image img,
  .img-section2 img {
    width: 100%;
  }
}

@media screen {
  /*Masthead*/
  .masthead {
    margin-bottom: 60px;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
  }

  .top-nav {
    display: flex;
    align-items: center;
  }

  .top-nav ul {
    display: flex;
  }

  .top-nav ul li {
    margin-right: 20px;
  }

  .top-nav ul li:last-child {
    margin-right: 0;
  }

  .top-nav li a {
    color: var(--Dark-grayish-blue);
  }

  .ham-menu,
  .close-menu {
    border: none;
    background-color: transparent;
    display: none;
    z-index: 10;
    cursor: pointer;
  }

  .ham-menu {
    display: block;
  }

  .desktop {
    display: block;
  }

  .desktop li a,
  .mobile li a,
  .read-more {
    transition: 0.3s;
  }

  .desktop li a:hover,
  .mobile li a:hover {
    font-size: 18px;
    color: var(--Soft-orange);
  }

  .mobile {
    display: none;
  }

  .mobile {
    height: 100vh;
  }

  .mobile ul li:hover {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  /*Toggle the header-nav*/
  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  /*Section One*/
  .section-one {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
  }

  .section-one text {
    gap: 20px;
  }

  .hero-img img {
    width: 100%;
  }

  .column-one,
  .hero-img img {
    margin-bottom: 30px;
  }

  .section1-text {
    display: flex;
  }

  .section-one h1 {
    font-size: 40px;
  }

  .section-one p {
    font-size: var(--pm-font);
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
    width: 90%;
    margin-bottom: 30px;
  }

  .read-more {
    background-color: var(--Soft-red);
    padding: 10px 20px;
    color: var(--Off-white);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .read-more:hover {
    background-color: var(--Off-white);
    color: var(--Soft-orange);
    border: 1px solid var(--Soft-orange);
  }

  .column-two {
    margin-right: 20px;
  }

  /*New Section*/
  .new-section {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    padding: 15px;
    margin-bottom: 60px;
  }

  .new-section h2 {
    color: var(--Soft-orange);
    margin-bottom: 30px;
  }

  .new-section .news:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .news {
    border-bottom: 1px solid var(--Off-white);
    margin-bottom: 30px;
  }

  .news h3 {
    margin-bottom: 10px;
  }

  .news p {
    margin-bottom: 30px;
    color: var(--Grayish-blue);
    line-height: 1.7;
  }

  /*Section 2*/
  .section-two {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 30px 0 60px 0;
  }

  .section-two span {
    font-size: 30px;
    color: var(--Grayish-blue);
  }

  .section-two p {
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
  }

  .img-section2 img {
    width: 100px;
  }

  .article-list {
    display: flex;
    gap: 10px;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1140px) {
  .section1-text {
    gap: 20px;
  }
}

@media screen and (min-width: 769px) {
  .ham-menu,
  .close-menu,
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .section-one {
    grid-template-columns: 1fr;
  }

  .ham-menu {
    display: block;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: none;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .hero-img img {
    content: url(assets/images/image-web-3-mobile.jpg);
  }

  .section-two {
    flex-direction: column;
  }

  /* Adds the white vertical background to the navbar when the ham menu button is clicked. */
  .mobile {
    background-color: var(--Off-white);
    position: absolute;
    top: 0;
    right: 0;
  }

  .mobile ul {
    flex-direction: column;
    gap: 15px;
    margin: 90px 120px 0 10px;
  }

  /*Overlay the body element with the dark shade when the ham menu is clicked */
  .shade {
    position: relative;
  }

  .shade::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Change the color and opacity as needed */
  }
}

@media screen and (max-width: 650px) {
  .section1-text {
    flex-direction: column;
  }

  .section-one h1 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding-right: 5px;
  }
}
